<!DOCTYPE html>
<html>
{% block stylesheet %}
    <link rel='stylesheet' href='/css/naglowek.css' type='text/css'>
    <link rel="stylesheet" href="/css/alertstyle.css" type="text/css">
{% endblock %}
    <body>
        <header>
            {% if username is null %}
            <h1> Konkursy Fotograficzne</h1>
            {% else %}
                <h1> Konkursy Fotograficzne, witaj: {{ username }}</h1>
            {% endif %}
            <a href="{{ path('app_logout') }}">
                <button class="btn3">Wyloguj</button>
            </a>
            <a href="{{ path('contests') }}">
                <button class="btn2"> dostępne konkursy</button>
            </a>
            <a href="{{ path('new_contest') }}">
                <button class="btn2"> Stwórz konkurs</button>
            </a>
            <a href="{{ path('login') }}">
                <button class="btn2">login</button>
            </a>
            <a href="{{ path('registration') }}">
                <button class="btn2">rejestracja</button>
            </a>
    </header>
        {% for message in app.flashes('notice') %}
            <div class="alertS">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
    </body>
</html>