<!DOCTYPE html>
<html>

{% block stylesheets %}
    <link rel='stylesheet' href='/css/naglowek.css' type='text/css'>
    <link rel='stylesheet' href='/css/table.css' type='text/css'>
{% endblock %}
{% block body %}
<header>
    <h1>Lista Konkursów</h1>
    <a href="/">
        <button class="btn3">Powrót</button>
    </a>
    <a href="/new_contest">
        <button class="btn2">Nowy</button>
    </a>
</header>
    <div class="sitebox">
        {% if contests %}
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Temat</th>
            <th>Termin zgłoszeń</th>
            <th>Termin rozpoczęcia głosowania</th>
        <tr>
        {% for c in contests %}
            <tr onclick="location.href='contest/{{ c.id }}'">
                <td>{{ c.name }}</td>
                <td>{{ c.theme }}</td>
                <td>{{ c.applicationsDeadline|date('Y-m-d H:i:s') }}</td>
            <td>{{  c.voteStartTime|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
        {% else %}
        <h1>brak konkursów</h1>
        {% endif %}
    </div>
{% endblock %}
</html>