<!DOCTYPE html>
<html>
{% block stylesheets %}
    <link rel='stylesheet' href='/css/table.css' type='text/css'>
    <link rel='stylesheet' href='/css/naglowek.css' type='text/css'>
    <link rel="stylesheet" href="/css/alertstyle.css" type="text/css">
{% endblock %}
{% block body %}
    <header>
        <title>{{ contest.name }}</title>
        <h1>Konkurs: {{ contest.name }}</h1>
        <a href="/contests">
            <button class="btn3">Powrót</button>
        </a>
        <a href="/contest/{{ contest.id }}/organizer"><button class="btn2"> Panel</button></a>
        <a href="/contest/{{ contest.id }}/vote"> <button class="btn2">Głosuj</button></a>
        <a href="/contest/{{ contest.id }}/photos"><button class="btn2">Zdjęcia</button></a>
        {% if is_contestant is null%}
        <a href="/contest/{{ contest.id }}/sign"><button class="btn2">Zapisz się</button></a>
        {% endif %}
    </header>
    <div class="sitebox">
        {% for message in app.flashes('notice') %}
            <div class="alertS">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
        <p>Temat: {{ contest.theme }}</p>
        <p>Termin zgłaszania zdjęć: {{ contest.applicationsDeadline|date('Y-m-d H:i:s') }}</p>
        <p> Głosowanie Rozpoczyna się: {{ contest.voteStartTime|date('Y-m-d H:i:s') }}</p>
        <p>Możliwa liczba uczestników: {{ contest.userLimit }}, Pozostało: {{ free_places }} miejsc.</p>

    {% if is_contestant %}
        <p>
    <form action="/contest/{{ contest.id }}/photo" method="post" enctype="multipart/form-data" style="margin-top: 25px">
        <input  type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" name="submit" value="Dodaj plik">
    </form></p>

    {% endif %}
    {%  if photos is not empty %}
        <p>Twoje zgłoszenia:</p>
        <p>Zgłoszono: {{ photos_count }}, z możliwych do zgłoszenia {{ contest.photoLimit }} zdjęć</p>
        {% for p in photos %}
            <div class="cont">
                <img src="/{{ p.filepath }}" style="max-height: 100%; max-width: 100%">
            </div>
        {% endfor %}
    {% elseif is_contestant %}
        Nie zgłoszono jeszcze żadnych zdjęć!
        {% else %}
        Zapisz się aby dodać zdjęcia!
    {% endif %}
    </div>
{% endblock %}
</html>
