<!DOCTYPE html>
<html>
{% block stylesheets %}
    <link rel='stylesheet' href='/css/table.css' type='text/css'>
    <link rel='stylesheet' href='/css/naglowek.css' type='text/css'>
    <link rel='stylesheet' href='/css/login.css' type='text/css'>
    <link rel="stylesheet" href="/css/alertstyle.css" type="text/css">
{% endblock %}
{% block body %}
    <title>Panel Organizatora</title>
<header>
    <h1> Panel Organizatora Konkursu: {{ contest.name }}</h1>
    <a href="/contest/{{ contest.id }}">
        <button class="btn3">Powrót</button>
    </a>
    <a>
        <button onclick="swap('Contest','Votes')"class="btn2">Konkurs</button>
    </a>
    <a>
        <button onclick="swap('Votes','Contest')"class="btn2"> Głosowanie</button>
    </a>
</header>
    <div class="loginbox" id="Contest">
        {% for message in app.flashes('notice') %}
            <div class="alertS">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
        <h1>Edycja Konkursu</h1>
        <form method="post">
            <br><br><br><br><br>
            <label>Temat:</label>
            <input name="theme" class="text" type="text" value="{{ contest.theme }}">
            <label>Termin zgłoszeń:</label>
            <input name="deadline" class="text" type="datetime-local" value="{{ contest.applicationsDeadline|date('Y-m-d H:i:s') }}">
            <label>Początek głosowania:</label>
            <input name="voteStart" class="text" type="datetime-local" value="{{ contest.voteStartTime|date('Y-m-d H:i:s') }}">
            <label>Koniec głosowania:</label>
            <input name="voteEnd" class="text" type="datetime-local" value="{{ contest.voteEndTime|date('Y-m-d H:i:s') }}">
            <button name="save" class="btnl">Zapisz</button>
        </form>
    </div>
    <div class="sitebox" id="Votes" hidden>
        <h1>Tabela głosów:</h1>
    <table>
        <tr>
            <th>id User\id Zdjęcia</th>
            {% for p in photos%}
                <th>
                   {{ p.id }}
                </th>
            {% endfor %}
        </tr>
        {% for key, judges in grades %}
            <tr>
            <th>{{ key }}</th>
            {% for grade in judges %}
                {% if grade.id in userPhotos[key] %}
                <td style="background-color: limegreen"> A</td>
                {% elseif grade.grade is empty %}
                    <td>0</td>
                {% else %}
                    <td style="background-color: limegreen"> {{ grade.grade}} </td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
        <?<a href="/contest/{{ contest.id }}/gen_res">
            <button onclick="confirmIt({{ contest.id }});" class="btn2">Generuj wyniki</button>
        <?</a>
        <div class="adnotacja">
            A* -autor zdjęcią, więc go nie ocenia.
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/js/swap.js"></script>
    <script src="/js/confirm.js"></script>
{% endblock %}

</html>