{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/table.css' type='text/css'>
    <link rel='stylesheet' href='/css/modal.css' type='text/css'>
    <link rel='stylesheet' href='/css/naglowek.css' type='text/css'>
{% endblock %}
{% block body %}
    <header>
        <h1> Wyniki</h1>
        <a href="/contests">
            <button class="btn3">Powrót</button>
        </a>
    </header>
    <form method="post">
        <table>
            <th>#</th>
            <th>Zdjęcie</th>
            <th>Ocena</th>
            {%  for p in photos %}
                {% if p.grade is not null %}
                    <tr style="background-color: greenyellow">
                {% else %}
                    <tr>
                {% endif %}
                <td>{{ p.id }}</td>
                <td><div class="box">
                        <img onclick="document.getElementById({{ p.id }}).style.display='block'" src="/{{ p.filepath }}" alt="poof" width="100%">
                <td><input type="number"  name="{{ p.id }}" min="1" max="6" value="{{ p.grade }}"></td>
                </tr>
            <div id="{{ p.id }}" class="modal">
                <button class="close" onclick="document.getElementById({{ p.id }}).style.display='none'">&times;</button>
                <img  class="modal-content" id="full_img" src="/{{ p.filepath }}" alt="zdjęcię konkursowe">
            </div>
            {% endfor %}
        </table>
        <input class="btn2" style="position: sticky; bottom:10px; float: right; width: 125px" type="submit" value="Zapisz zmiany!" name="save">
    </form>
{% endblock %}



