{% block stylesheets %}
    <link rel='stylesheet' href='/css/table.css' type='text/css'>
    <link rel='stylesheet' href='/css/modal.css' type='text/css'>
    <link rel='stylesheet' href='/css/naglowek.css' type='text/css'>
    <link rel="stylesheet" href="/css/alertstyle.css" type="text/css">
{% endblock %}
{% block body %}
    <title>{{ contest.name }}:Głosowanie</title>
    <header>
        <h1> Głosowanie</h1>
        <a href="/contest/{{ contest.id }}">
            <button class="btn3">Powrót</button>
        </a>
        <a>
            <button style="background-color: white; padding: 12px; border-color: black" class="btn2" onclick="changeModalColor('white')"></button>
        </a>
        <a>
            <button style="background-color:black; padding: 12px; border-color: black" class="btn2" onclick="changeModalColor('black')"></button>
        </a>
       <a>
           <button class="btn2" onclick="changeModalColor('rgba(0,0,0,0.88)')">domyślny</button>
       </a>
        <a><p>Tło podglądu:</p></a>
    </header>

        <form method="post">
            <div class="sitebox">
                {% for message in app.flashes('notice') %}
                    <div class="alertS">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ message }}
                    </div>
                {% endfor %}
            <table>
                <th>#</th>
                <th>Zdjęcie</th>
                {% if contest.useForm %}
                    <th>Ocena kompozycji (0-2)</th>
                    <th>Ocena techniczna (0-2)</th>
                    <th>Zgodność z tematem (0-2)</th>
                    <th>Ocena własna (0-4)</th>
                    <th>Ocena końcowa (0-10)</th>
                {% else %}
                <th>Ocena (1-6)</th>
                {% endif %}
                {%  for p in photos %}
                    {% if p.grade is not null %}
                        <tr style="background-color: greenyellow">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td>{{ p.id }}</td>
                    <td>
                        <div class="box">
                            <img onclick="document.getElementById({{ p.id }}).style.display='block';" src="/{{ p.filepath }}" alt="poof" width="100%">
                        </div>
                    </td>
                    {% if contest.useForm %}
                        <td>
                            <input type="number"  name="comp{{ p.id }}" min="0" max="2">
                        </td>
                        <td>
                            <input type="number"  name="tec{{ p.id }}" min="0" max="2">
                        </td>
                        <td>
                            <input type="number"  name="the{{ p.id }}" min="0" max="2">
                        </td>
                        <td>
                            <input type="number"  name="sub{{ p.id }}" min="0" max="4">
                        </td>
                        {% if  p.grade is not null %}
                            <td><p>{{ p.grade }}</p></td>
                        {% else %}
                            <td><p>nie oceniono</p></td>
                        {% endif %}
                    {% else %}
                    <td>
                        <input type="number"  name="{{ p.id }}" min="1" max="6" value="{{ p.grade }}">
                    </td>
                    {% endif%}
                    </tr>
                <div id="{{ p.id }}" class="modal">
                    <button type="button" class="close" onclick="document.getElementById({{ p.id }}).style.display='none'">&times;</button>
                    <img  class="modal-content" id="full_img" src="/{{ p.filepath }}" alt="zdjęcię konkursowe" style="max-height: 95%; max-width: 95%">
                </div>
                {% endfor %}
            </table>
    </div>
    <input class="btn2" style="position: sticky; bottom:20px; float: right; width: 125px; margin-right: 5%;" type="submit" value="Zapisz zmiany!" name="save">
    </form>
{% endblock %}
{% block javascripts %}
    <script src="/js/color.js"></script>
{% endblock %}



